@model IEnumerable<University.Models.Dto.TeacherDto>

<div class="panel-title text-center">
    <h2 class="title">Преподаватели предмета "@ViewData["Subject"]"</h2>
    <hr id="form-line" />
</div>

<div id="ListTeachers">
    @foreach (var teacher in Model)
    {
        @Html.Partial("PartialViewTeacher", teacher)
    }
</div>

