@model IEnumerable<University.Models.Dto.TeacherDto>

<h4>Преподаватели предмета "@ViewData["Subject"]"</h4>
<div id="ListTeachers">
    @foreach (var teacher in Model)
    {
        @Html.Partial("PartialViewTeacher", teacher)
    }
</div>

