@model University.Models.Dto.TeacherDto


<form method="POST" id="addReview" action="/Teachers/AddReview">
        <input type="text" name="TeacherId" value="@Model.Id" class="hide">
        <textarea class="form-element form-element-textarea form-control" id="reviewInput" name="Text" rows="5" oninput="LockedButton('reviewInput', 'buttonAddReview')" placeholder="Введите комментарий..." style="width: 70%; "></textarea>
        <br />
        <br />
        <p>
            <button type="submit" class="btn btn-success btn-sm" id="buttonAddReview" disabled>Опубликовать</button>
        </p>
</form>
