@model IEnumerable<University.Models.ApplicationUser>

@{
    ViewBag.Title = "Поиск";
}

@Scripts.Render("~/scripts/jquery-3.1.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")

<head>
    <script type="text/javascript" src="/scripts/script.js">

    
    </script>

    @{ List<string> userNamesCs = (List<string>)@ViewData["UserNames"]; }

    <!--приводим массив к виду понятному движку JS-->
    <script type="text/javascript">
        var ar = new Array();
        var i = 0;

        @foreach (string str in userNamesCs)
        {
            <text>
                ar[i] = '@str';
                i++;
            </text>
        }

        //пока не вышли из скрипта инициализируем полученный массив; пусть функция initArrayInExternalFile() находится в externalfile.js
        initArrayInExternFile(ar);
    </script>

    <style>
        .add-li {
        }

         A {
             text-decoration: none;
         }
    </style>
</head>

<div class="panel-title text-center">
    <h2 class="title">Пользователи</h2>
    <hr id="form-line" />
</div>

<div class="container">
    <div class="col-md-6">
            <div id="block-search">
                <form method="get">
                    <input type="text" id="input-search" oninput="SearchUser()" placeholder="Поиск">
                    <input type="submit" id="form-search" value=" ">
                </form>
                <div id="block-search-result">
                    <ul id="list-search-result" style="list-style-type: none;"></ul> 
                </div>
            </div>
    </div>
    @Html.Partial("PartialViewUsers", Model)
</div>

