@model University.Models.ApplicationUser

<tr>
    <td>
        <div class="alert-success">@Model.SurName @Model.FirstName</div>
    </td>
    <td>
        <button type="submit" class="btn btn-danger btn-sm js-add-friend-button" id="@Model.Id">Добавить</button>
    </td>
</tr>


