@model University.Models.ApplicationUser

<tr class="dialog-container">
    <td>
        <a href="/Home/UserPage/@Model.Id">@Model.SurName @Model.FirstName</a>
    </td>
    <td>
        <button type="submit" class="btn btn-danger btn-sm js-add-friend-button" id="@Model.Id">Добавить в друзья</button>
    </td>
</tr>


