@model IEnumerable<University.Models.Tables.Subject>

@{
    ViewBag.Title = "Предметы";
}

<div class="container">
    <div class="cd-font"><h3>@ViewBag.Title</h3></div>
    <div class="row">
        <div class="col-md-12">
            @foreach (var subject in Model)
            {
                @Html.Partial("PartialViewSubject", subject)
            }
        </div>
    </div>
</div>