@model IEnumerable<University.Models.Tables.Subject>

@{
    ViewBag.Title = "Предметы";
}

<head>
    <script src="/scripts/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/scripts/script.js"></script>

    <script>
        var arr = @Html.Raw(Json.Encode(Model));
        initArraySubjects(arr);
    </script>
</head>

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-2">
            @Html.Partial("../Home/PartialViewSaidBar")
        </div>

        <div class="col-md-7" style="margin-top: 15px;">
            <div id="block-search">
                <form method="get" onkeypress="if (event.keyCode === 13) return false;" autocomplete="off">
                    <input type="text" id="input-search" oninput="SearchSubject()" placeholder="Поиск предмета">
                </form>
                <div id="block-search-result">
                    <ul id="list-search-result" style="list-style-type: none;"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-7" id="listSubjects">
            @foreach (var subject in Model)
            {
                @Html.Partial("PartialViewSubject", subject)
            }
        </div>
    </div>
</div>