@model IEnumerable<University.Models.Tables.Subject>

@{
    ViewBag.Title = "Index";
}

<h2>Предметы</h2>

<div class="container">
    <div class="col-md-6">
        @foreach (var subject in Model)
        {
            @Html.Partial("PartialViewSubject", subject)
        }
    </div>
</div>