@model University.Models.Dto.MaterialDto


<form method="POST" id="addComment" action="/Subjects/AddComment">
    <div>
        <input type="text" name="MaterialId" value="@Model.Id" class="hide">
        <textarea class="form-element form-element-textarea" id="commentInput" name="Text" rows="5" oninput="LockedButton('commentInput', 'buttonAddComment')" placeholder="Введите комментарий..."></textarea>
        <br />
        <br />
        <p>
            <button type="submit" class="btn btn-success btn-sm" id="buttonAddComment" disabled>Опубликовать</button>
        </p>
    </div>
</form>
