@model University.Models.Tables.Subject

<div class="blockquote-box clearfix col-xs-6">
    <h4>@Model.NameFull</h4>
    <p>
        <a href="@Url.Action("MaterialsSubject", "Subjects", new { id = Model.Id })"> Перейти к материалам </a>
    </p>
    <p>
        <a href="@Url.Action("Questions", "Questions", new { id = Model.Id })"> Перейти к вопросам </a>
    </p>
</div>