@using University.Models.Helper
@model IEnumerable<University.Models.Dto.MaterialDto>


<div id="listMaterials">
    <label class="control-label form-element-label-name"><b> Лекции </b></label>
    <br />
    <table class="table">
        <tbody>
            @foreach (var material in Model.Where(m => m.TypeLesson == Enum.GetName(typeof(TypeLesson), 0)))
            {
                @Html.Partial("PartialViewMaterial", material)
            }
        </tbody>
    </table>
    <br />
    <label class="control-label form-element-label-name"><b> Практические занятия </b></label>
    <br />
    <table class="table">
        <tbody>
            @foreach (var material in Model.Where(m => m.TypeLesson == Enum.GetName(typeof(TypeLesson), 1)))
            {
                @Html.Partial("PartialViewMaterial", material)
            }
        </tbody>
    </table>
</div>
