@model IEnumerable<University.Models.ApplicationUser>

@{
    ViewBag.Title = "Мои друзья";
}

@Scripts.Render("~/scripts/jquery-3.1.1.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")

<head>
    <script type="text/javascript" src="/scripts/script.js">

    </script>

    <style>
        #prompt-form {
            display: inline-block;
            padding: 5px 5px 5px 70px;
            width: 500px;
            border: 1px solid black;
            background: white url(https://js.cx/clipart/prompt.png) no-repeat left 5px;
            vertical-align: middle;
        }

        #prompt-form-container {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999;
            display: none;
            width: 100%;
            height: 100%;
            text-align: center;
        }

            #prompt-form-container:before {
                display: inline-block;
                height: 100%;
                content: '';
                vertical-align: middle;
            }

        #cover-div {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9000;
            width: 100%;
            height: 100%;
            background-color: gray;
            opacity: 0.3;
        }

        #prompt-form textarea[name="text"] {
            max-width: none;
            display: block;
            margin: 5px;
            width: 95%;
        }
    </style>
</head>

<div class="container">
    <div id="prompt-form-container">
        <form id="prompt-form">
            <div id="prompt-message">Новое сообщение</div>
            <textarea name="text" type="text" rows="5"></textarea>
            <input type="submit" value="Отправить">
            <input type="button" name="cancel" value="Отмена">
        </form>
    </div>

    <div class="row">
        <div class="col-sm-3 col-md-2">
            @Html.Partial("~/Views/Home/PartialViewSaidBar.cshtml")
        </div>

        <div class="col-sm-9 col-md-10" style="margin-top: 10px;">
            <div id="block-search">
                <form method="get">
                    <input type="text" id="input-search" oninput="SearchUser()" placeholder="Поиск">
                    <input type="submit" id="form-search" value=" ">
                </form>
                <div id="block-search-result">
                    <ul id="list-search-result" style="list-style-type: none;"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-9" id="ListFriends">
            @foreach (var friend in Model)
            {
                @Html.Partial("PartialViewFriend", friend)
            }
        </div>
    </div>
</div>
