@model University.Models.ApplicationUser
    
<tr>
    <td>
        <div class="alert-success">@Model.SurName @Model.FirstName</div>
    </td>
    <td>
        <a href="/Home/OpenDialog/@Model.Id" class="btn btn-success btn-sm " id="@Model.Id">Написать</a>
    </td>
</tr>