@using University.Models.Tables
@model IEnumerable<University.Models.Tables.Subject>

@{
    ViewBag.Title = "NewQuestion";
}

<head>
    <script type="text/javascript" src="/scripts/script.js">
    </script>
</head>

<h2>Задать вопрос</h2>

<div class="container">
    <div class="col-md-6">
        @using (Html.BeginForm("AddQuestion", "Questions", FormMethod.Post, new {@class = "form-horizontal", role = "form", enctype = "multipart/form-data"}))
        {
            <label>Описание</label>
            <br/>
            <textarea class="form-element form-element-textarea" id="Topic" name="Topic" rows="7" oninput="LockedButton('Topic', 'buttonNewQuestion')" placeholder="Описание"></textarea>
            <hr/>
            <br/>

            <select name="SubjectId" id="SubjectId">
                @foreach (var subject in Model)
                {
                    <option value="@subject.Id">@subject.NameAbridgment</option>
                }
            </select>
            <br/>

            <select name="TypeQuestion" id="TypeQuestion">
                <option value="Lecture">Лекции</option>
                <option value="Practic">Практические занятия</option>
            </select>

            <label class="control-label">Выберите файл</label>
            <p>
                <input type="file" name="file" id="file"/>
            </p>
            <br/>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success" value="Добавить" id="buttonNewQuestion" disabled>Задать вопрос</button>
                </div>
            </div>
        }
    </div>
</div>