@model IEnumerable<University.Models.Dto.DialogDto>

<div id="dialogsBar">
    <table class="table" id="ListDialogs">
        <tbody>
            <tr>
                <td>
                    <div class="btn-group" style="width: 100%;">
                        <a class="btn btn-success btn-sm btn-block" onclick="NewDialog()">
                            <i class="fa fa-envelope fa"> Начать беседу </i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>