@model IEnumerable<University.Models.Dto.DialogDto>

<div class="col-sm-9 col-md-10" style="margin-top: 10px;" id="dialogsBar">
    
    <div class="mail-option">
        <div class="btn-group">
            <a data-toggle="dropdown" href="#" class="btn mini blue" aria-expanded="false" onclick="NewDialog()">
                Начать беседу
                <i class="fa fa-angle-down fa"> </i>
            </a>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <div class="list-group" id="ListDialogs">
                @foreach (var dialog in Model)
                {
                    @Html.Partial("PartialViewDialog", dialog)
                }
            </div>
        </div>
    </div>
</div>
