@using System.Web.Mvc.Html
@using University.Models
@model IEnumerable<University.Models.Dto.DialogDto>
@{
    ViewBag.Title = "Index";
}

<head>
    <script src="/scripts/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery.signalR-2.2.2.min.js" type="text/javascript"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>

    <script type="text/javascript" src="/scripts/script.js"></script>

    <script type="text/javascript" src="/scripts/communion.js"></script>

    <link href="/Content/Site.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css">
    <style>
        .form-element-label-name {
            font: inherit;
            font-size: 120%;
        }

        .form-element-label-time {
            padding-left: 10px;
            font: inherit;
            font-size: 90%;
        }

        .form-element-textarea {
            width: 100%;
            max-width: 600px;
        }

        div {
            word-wrap: break-word;
        }

        #formMessages, #ListDialogs {
            max-height: 60%;
            overflow: auto;
            min-height: 60%;
            margin-top: 20px;
        }

        #currentDialog, #dialogsBar {
            height: 600px;
            margin-top: 0;
        }
    </style>
</head>

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-2">
            @Html.Partial("../Home/PartialViewSaidBar")
        </div>
        <div class="col-md-4">
            @Html.Partial("DialogsBar", Model)
            @Html.Partial("NewDialogBar", (List<ApplicationUser>)ViewData["Friends"])
        </div>
        
        <div class="form-horizontal col-md-5" id="currentDialog">
            <h4 id="dialogName" style="font-family: 'Rouge Script', cursive; margin-top: 20px; margin-bottom: 15px; color: aliceblue; "> </h4>
            <div id="formMessages">
                <p style="margin-top: 40%; margin-left: 25%; color: #c8c2c2; ">Выберите диалог или <a href="#" onclick="NewDialog()" style="color: #0094ff;">создайте новый</a></p>
            </div>
            <div id="formSendMessage" hidden>
                <form method="POST" id="sendMessage" action="/Communion/SendMessageInDialog">
                        <input type="text" id="dialogId" name="DialogId" value="" class="hide">
                        <div class="send-wrap">
                            <textarea class="form-control send-message" id="messageInput" style="max-width: none; display: -webkit-inline-box;" oninput="LockedButton('messageInput', 'buttonSendMessage')" name="Text" rows="3" placeholder="Введите сообщение..."></textarea>
                        </div>
                        <div class="btn-panel">
                            <button type="submit" class="col-lg-4 text-right btn send-message-btn pull-right" id="buttonSendMessage" style="background-color: #58d068; color: #fff; " disabled>
                                <i class="fa fa-envelope"> Отправить </i>
                            </button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>