@model IEnumerable<University.Models.ApplicationUser>

<div id="newDialogBar" hidden>
    <div class="form-group">
        @Html.Label("Название беседы", new { @class = "cols-sm-2 control-label", style = "color: white; margin-top: 8px;" })
        <div class="cols-sm-10">
            <div class="input-group">
                <input type="text" id="NameConversation" oninput="IsChecked()" placeholder="Название беседы" style="display: block; width: 100%; margin-bottom: 4px;" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-success btn-block" id="buttonCreateDialog" style="margin-bottom: 4px;" disabled>
                <i class="fa fa-envelope fa"> Создать беседу </i>
            </button>

            <button class="btn btn-warning btn-block" onclick="ShowDialogs()">
                <i class="fa fa-envelope fa"> Отменить </i>
            </button>
        </div>
    </div>

    <form class="formbox" id="formBox" style="color: white; margin-top: 10px; ">
        @Html.Label("Выберите участников:", new { @class = "cols-sm-2 control-label", style = "color: #0094ff; margin-top: 4px;" })
        @foreach (var user in Model)
        {
            @Html.Partial("PartialViewUser", user)
        }
    </form>
</div>