@model IEnumerable<University.Models.ApplicationUser>

<div id="newDialogBar" hidden>
    <button type="submit" class="btn btn-success btn-sm" id="buttonCreateDialog" onclick="CreateDialog()" disabled>Создать беседу</button>
    <a href="#" class="btn btn-warning btn-sm" onclick="ShowDialogs()">Отменить</a>
    <div>
        <input type="text" id="NameConversation" oninput="IsChecked()"/>
    </div>
    <form class="formbox" id="formBox">
        @foreach (var user in Model)
        {
            @Html.Partial("PartialViewUser", user)
        }
    </form>
</div>
