@using Microsoft.AspNet.Identity
@model IEnumerable<University.Models.ApplicationUser>

<div class="col-md-12" style="margin-top: 15px;" id="newDialogBar" hidden>
    <div class="panel panel-default">
        <div class="panel-heading resume-heading">
                <div class="form-group">
                    @Html.Label("Создать беседу", new { @class = "cols-sm-2 control-label", style = "color: #0094ff; margin-top: 8px;" })
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" id="NameConversation" oninput="IsChecked()" placeholder="Название беседы" style="border-radius: 3px; width: 100%; margin-bottom: 4px;" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success btn-block" id="buttonCreateDialog" style="margin-bottom: 4px;" disabled>
                            <i class="fa fa-envelope fa"> Создать беседу </i>
                        </button>

                        <button class="btn btn-warning btn-block" onclick="ShowDialogs()">
                            <i class="fa fa-envelope fa"> Отменить </i>
                        </button>
                    </div>
                </div>

                <form class="formbox scrollbox" id="formBoxFriends" style="color: black; margin-top: 10px; ">
                    @Html.Label("Выберите участников:", new { @class = "cols-md-12 control-label", style = "color: #0094ff; margin-top: 4px;" })
                    @foreach (var user in Model)
                    {
                        if (user.Id != User.Identity.GetUserId())
                        {
                             @Html.Partial("PartialViewUser", user)
                        }
                    }
                </form>
        </div>
    </div>
</div>