@model IEnumerable<University.Models.ApplicationUser>

<div id="newDialogBar" hidden>
    <div class="form-group">
        <label for="contain" style="color: #fff; ">Название беседы</label>
        <input type="text" id="NameConversation" oninput="IsChecked()" placeholder="Название беседы" style="display: block; width: 70%; margin-bottom: 4px;" />
    </div>

    <p class="text-center" style="color: #fff; ">Выберите участников</p>
    <div class="well col-md-12" style="max-height: 150px; overflow: auto;">
        @foreach (var user in Model)
        {
            @Html.Partial("PartialViewUser", user)
        }
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success pull-left" id="buttonCreateDialog" style="margin-right: 4px; " disabled>
            <i class="fa fa-envelope fa"> Создать беседу </i>
        </button>

        <button class="btn btn-warning pull-right" onclick="ShowDialogs()">
            <i class="fa fa-envelope fa"> Отменить </i>
        </button>
        </div>
    </div>