@model University.Models.Dto.DialogDto


<form method="POST" id="sendMessage" onsubmit="return SendMessage()" action="/Communion/SendMessageInDialog">
    <div>
        <input type="text" name="DialogId" value="@Model.Id" class="hide">
        <textarea class="form-element form-element-textarea" id="messageInput" oninput="LockedButton('messageInput', 'buttonSendMessage')" name="Text" rows="5" placeholder="Напишите сообщение..."></textarea>
        <br />
        <br />
        <p>
            <button type="submit" class="btn btn-success btn-sm" id="buttonSendMessage" disabled>Отправить</button>
        </p>
    </div>
</form>
