@model University.Models.Dto.DialogDto

<div id="@Model.Id" onclick="OpenDialog(@Model.Id)">
    <a href="#" class="list-group-item">
        <span class="name" style="min-width: 120px; display: inline-block;"> @Model.Name </span>
    </a>
</div>