@model University.Models.Dto.DialogDto

<div id="@Model.Id" class="current-dialog">
    <a href="#" class="list-group-item">
        <span class="name" style="min-width: 120px; display: inline-block; height: 30px; "> @Model.Name </span>
    </a>
</div>