@model IEnumerable<University.Models.Tables.Subject>

<select id="subject" name="Subject">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.NameAbridgment</option>
    }
</select>

