@model University.Models.IndexViewModel
@{
    ViewBag.Title = "Изменение личных данных";
}

<h3>@ViewBag.Title.</h3>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <div class="dl-horizontal">
        @Html.ActionLink("Изменить пароль", "ChangePassword")
    </div>
</div>
