body {
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background: linear-gradient(rgb(255, 255, 255), rgba(52, 54, 66, 0.9));
}

.login-button {
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    margin-top: 10px;
    background-color: #5cb85c;
    border-color: #4cae4c;
    font-weight: 500;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.login-button:hover,
.login-button:active,
.login-button:focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}

.squared-four {
    width: 20px;
    height: 20px;
    position: relative;
    margin: 20px auto;
}


/* Логин пользователя. */
.cd-form {
  padding: 1.4em;
}

.cd-form .fieldset {
  position: relative;
  margin: 1.4em 0;
}

.cd-form .fieldset:first-child {
  margin-top: 0;
}

.cd-form .fieldset:last-child {
  margin-bottom: 0;
}

.cd-form label {
  font-size: 14px;
  font-size: 0.875rem;
}

.cd-form label.image-replace {
  /* заменить текст с иконой */
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

/* Иконки полей ввода */
.cd-form .cd-username {
  background-image: url("../Files/icons/cd-icon-username.svg");
}

.cd-form .cd-email {
  background-image: url("../Files/icons/cd-icon-email.svg");
}

.cd-form .cd-password {
  background-image: url("../Files/icons/cd-icon-password.svg");
}

.cd-form {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}

.cd-form .full-width {
  width: 100%;
}
.cd-form .has-padding {
  padding: 12px 20px 12px 50px;
}
.cd-form .has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.cd-form .has-border:focus {
  border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}

.cd-form .has-error {
  border: 1px solid #d76666;
}

.cd-form [type=submit] {
  padding: 16px 0;
  cursor: pointer;
  background: #2f889a;
  color: #FFF;
  font-weight: bold;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
    background: #3599ae;
    outline: none;
}
@media only screen and (min-width: 600px) {
  .cd-form {
    padding: 2em;
  }

  .cd-form .fieldset {
    margin: 2em 0;
  }

  .cd-form .fieldset:first-child {
    margin-top: 0;
  }

  .cd-form .fieldset:last-child {
    margin-bottom: 0;
  }

  .cd-form input.has-padding {
    padding: 16px 20px 16px 50px;
  }

  .cd-form input[type=submit] {
    padding: 16px 0;
  }
}
.cd-form-message {
  padding: 1.4em 1.4em 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .cd-form-message {
    padding: 2em 2em 0;
  }
}
.cd-form-bottom-message {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-form-bottom-message a {
  color: #FFF;
  text-decoration: underline;
}
.cd-close-form {
  /* стиль X кнопки вверху справа */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  background: url("../img/cd-icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (min-width: 1170px) {
  .cd-close-form {
    display: none;
  }
}

.cd-login, .cd-signup {
  display: none;
}

.cd-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 3;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -moz-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}
.cd-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -moz-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}
.cd-user-modal.is-visible .cd-user-modal-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.cd-user-modal-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-user-modal-container .cd-switcher:after {
  content: "";
  display: table;
  clear: both;
}
.cd-user-modal-container .cd-switcher li {
  width: 50%;
  float: left;
  text-align: center;
}
.cd-user-modal-container .cd-switcher li:first-child a {
  border-radius: .25em 0 0 0;
}
.cd-user-modal-container .cd-switcher li:last-child a {
  border-radius: 0 .25em 0 0;
}
.cd-user-modal-container .cd-switcher a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #d2d8d8;
  color: #809191;
}
.cd-user-modal-container .cd-switcher a.selected {
  background: #FFF;
  color: #505260;
}
@media only screen and (min-width: 600px) {
  .cd-user-modal-container {
    margin: 4em auto;
  }
  .cd-user-modal-container .cd-switcher a {
    height: 70px;
    line-height: 70px;
  }
}


header[role=banner] {
  position: relative;
  height: 90px;
  background: #343642;
}
header[role=banner] #cd-logo {
  float: left;
  /* reduce logo size on mobile and make sure it is left aligned with the transform-origin property */
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
header[role=banner] #cd-logo img {
  display: block;
}
header[role=banner]::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
@media only screen and (min-width: 768px) {
  header[role=banner] {
    height: 90px;
  }
  header[role=banner] #cd-logo {
    margin: 15px 10px 10px 15px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../img/cd-icon-menu.svg") no-repeat center center;
  cursor: pointer;
}
.main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.main-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #292a34;
  border-top: 1px solid #3b3d4b;
  color: #FFF;
}
@media only screen and (min-width: 768px) {
  .main-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  .main-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 80px;
  }
  .main-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .main-nav li:nth-last-child(2) {
    margin-left: 2em;
  }
  .main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
  }
  .main-nav a.cd-signin, .main-nav a.cd-signup {
    padding: .6em 1em;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50em;
  }
  .main-nav a.cd-signup {
    background: #2f889a;
    border: none;
  }

    .main-nav a.cd-signin, .main-nav a.cd-signout {
    padding: .6em 1em;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50em;
  }
  .main-nav a.cd-signout {
    background: #2f889a;
    border: none;
  }

    .main-nav a.manage-account, .main-nav a.manage-account {
    padding: .6em 1em;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50em;
  }
  .main-nav a.manage-account {
    background: #2f889a;
    border: none;
  }
}

.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}

.nav-drawer {
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: -45px;
    color: inherit;
    background-color: #eee;
    width: 180px;
    height: 100%;
    background: rgb(230, 230, 230);
    border: rgba(205, 205, 205, 0.51) 1px solid;
    padding-top: 10px;
    float: left;
}

.cd-intro {
    position: relative;
    height: 200px;
    line-height: 200px;
    text-align: left;
}

.cd-intro h1 {
    font-size: 22px;
    color: aliceblue;
}

/* Иконки полей ввода */
.cd-logo {
  background-image: url("../Files/icons/cd-logo.svg");
}

.drawer-item-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.drawer-link {
    padding: 3px 20px;
}

.drawer-link:hover,
.drawer-link:active {
    background: rgb(157, 182, 215);
    cursor: pointer;
    color: azure;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.js-add-friend-button {
    border: 0;
}

.js-new-msg-button {
    border: 0;
}

.input-file-row-1:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.input-file-row-1 {
    display: inline-block;
    margin-top: 25px;
    position: relative;
}

html[xmlns] .input-file-row-1 {
    display: block;
}

* html .input-file-row-1 {
    height: 1%;
}

.upload-file-container {
    position: relative;
    overflow: hidden;
    float: left;
    margin-left: 23px;
}

    .upload-file-container:first-child {
        margin-left: 0;
    }

    .upload-file-container > img {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

.upload-file-container-text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #000000;
    line-height: 17px;
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 25px;
    margin-left: 14px;
}

    .upload-file-container-text > span {
        border-bottom: 1px solid #719d2b;
        cursor: pointer;
    }

.upload-file-container input {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    margin: 0;
    padding: 0;
    border: none;
    width: 230px;
    height: 250px;
    cursor: pointer;
}

.dialog-container a {
    display: block;
}

.dialog-container a:hover {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}

.dialog-container td:hover {
    background-color: lightskyblue;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  color: azure;
  margin-left: -15px;
  margin-right: 15px;
}
