html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
    width: 100%;
    background: linear-gradient(141deg, #b0e0e6 0%, #87ceeb 51%, #2e6da4 75%) center center fixed;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.main {
    margin-top: 0;
    margin-bottom: 40px;
}

.main-center {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 10px 40px;
}

.main-login {
    background-color: aliceblue;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.fa-envelope:before {
    content: "\f0e0";
}

/* 'Login' button. */
.login-button {
    margin-top: 5px;
}

.navbar {
    min-height: 55px;
    margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
    color: lightcyan;
}

.navbar-brand {
    font-family: 'Rouge Script', cursive;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #082b34;
}

.nav.navbar-nav li:hover:nth-child(1), .nav .navbar-nav li.active:nth-child(1) {
    border-bottom: #C4E17F 3px solid;
}

.nav.navbar-nav li:hover:nth-child(2), .nav.navbar-nav li.active:nth-child(2) {
    border-bottom: #db4d4d 3px solid;
}

.nav.navbar-nav li:hover:nth-child(3), .nav.navbar-navli.active:nth-child(3) {
    border-bottom: #fbf994 3px solid;
}

.nav.navbar-nav.navbar-right li:hover:nth-child(1), .nav .navbar-nav.navbar-right li.active:nth-child(1) {
    border-bottom: #2e6da4 3px solid;
}

.nav.navbar-nav.navbar-right li:hover:nth-child(2), .nav.navbar-nav.navbar-right li.active:nth-child(2) {
    border-bottom: #62258d 3px solid;
}

.login-group-checkbox {
    padding: 5px 0;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
}

    [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label, [type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
        position: relative;
        padding-left: 25px;
        padding-top: 1px;
        cursor: pointer;
    }

/* Message form. */
.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

.main-footer {
    color: #fff;
    background-color: #000;
    text-align: center;
}

.title-footer {
    margin-top: 32px;
}

.toppad {
    margin-top: 20px;
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.circular-square {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.circular-square-users {
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.panel-title {
    font-size: 18px;
}

.nav-justified {
    width: 100%;
    padding: 8px 0;
}

.nav-justified .active a {
    cursor: default;
    background-color: #428bca;
    color: #fff;
    text-shadow: 1px 1px 1px #2e6da4;
}

.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin-bottom: 5px;
    padding: 20px;
}

.bs-callout-danger {
    border-left-color: rgb(24, 75, 142);
}

/* 'Signup' button. */
.signup-button {
    width: 270px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    margin-top: 0px;
    background-color: #5cb85c;
    border-color: #4cae4c;
    font-weight: 500;
    font-size: 14px;
    height: 40px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    margin-bottom: 10px;
}

    .login-button:hover,
    .login-button:active,
    .login-button:focus,
    .signup-button:hover,
    .signup-button:active,
    .signup-button:focus {
        color: #fff;
        background-color: #449d44;
        border-color: #255625;
    }

#footer-style {
    margin: 0 0 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    /* border-top: 1px solid azure; */
    background-color: #222;
    border-color: #080808;
    min-height: 55px;
    border-radius: 4px;
    color: #9d9d9d;
}

@media only screen and (min-width: 1170px) {
    .cd-close-form {
        display: none;
    }
}

.nav-pills > li > a {
    border-radius: 4px;
    line-height: 60px;
    outline-width: thin;
}

/* 'Login' form. */
.login-form {
    width: 320px;
    padding: 25px;
    display: block;
    background-color: #fff;
    /* just in case there no content*/
    /*margin-top: 150px;*/
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-form-container {
    margin: auto auto;
    width: 400px;
    padding-top: 70px;
    display: block;
}

.placeholder {
    font-size: 14px;
    padding: 6px 12px 8px;
    box-sizing: border-box;
}

#remember-me, #buttonNewQuestion {
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 50px;
    font-weight: normal;
}

#TypeQuestion, #SubjectId, #file {
    margin-top: 3px;
    margin-bottom: 5px;
}

.radio label, .checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    cursor: pointer;
    font-family: Lato-Regular, sans-serif;
    line-height: 1.6em;
    font-size: 14px;
    margin-left: 50px;
}

/* 'Question' form. */
.question-form-container {
    margin: auto auto;
    width: 400px;
    padding-top: 20px;
    display: block;
}

header[role=banner] {
    position: relative;
    height: 80px;
    background: border-box;
    border-bottom: 1px solid azure;
}

    header[role=banner] #cd-logo img {
        float: left;
        /* reduce logo size on mobile and make sure it is left aligned with the transform-origin property */
        -webkit-transform-origin: 0 50%;
        -moz-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
        -o-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
    }

    header[role=banner] #cd-logo img {
        display: block;
        width: 100px;
        height: 60px;
        margin-top: 5px;
        margin-left: 130px;
        margin-right: 50px;
    }

    header[role=banner]::after {
        /* clearfix */
        content: '';
        display: table;
        clear: both;
    }

@media only screen and (min-width: 768px) {
    header[role=banner] {
        height: 80px;
        border-bottom: 1px solid azure;
    }

        header[role=banner] #cd-logo img {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
            margin-top: 5px;
            margin-left: 130px;
            margin-right: 50px;
        }
}

.main-nav {
    float: right;
    margin-right: 5%;
    width: 44px;
    height: 100%;
    background: url("../img/cd-icon-menu.svg") no-repeat center center;
    cursor: pointer;
}

    .main-nav ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }

        .main-nav ul.is-visible {
            -webkit-transform: translateY(50px);
            -moz-transform: translateY(50px);
            -ms-transform: translateY(50px);
            -o-transform: translateY(50px);
            transform: translateY(50px);
        }

    .main-nav a {
        display: block;
        height: 50px;
        line-height: 50px;
        padding-left: 5%;
        background: #292a34;
        border-top: 1px solid #3b3d4b;
        color: #FFF;
    }

@media only screen and (min-width: 768px) {
    .main-nav {
        width: auto;
        height: auto;
        background: none;
        cursor: auto;
    }

        .main-nav ul {
            position: static;
            width: auto;
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
            line-height: 80px;
        }

            .main-nav ul.is-visible {
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -o-transform: translateY(0);
                transform: translateY(0);
            }

        .main-nav li {
            display: inline-block;
            margin-left: 1em;
        }

            .main-nav li:nth-last-child(2) {
                margin-left: 2em;
            }

        .main-nav a {
            display: inline-block;
            height: auto;
            line-height: normal;
            background: transparent;
        }            
}

.form-control {
    display: block;
    width: 270px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: white;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* Input for user's date of birth and role on the 'Register' page. */
#BirthDate, #Role {
    display: block;
    width: 270px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: white;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* Dropdown list on the 'Add material' page. */
.form-material {
    display: block;
    width: 230px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: white;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* Dropdown list on the 'Add question' page. */
.form-question {
    display: block;
    width: 250px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: white;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* Textarea view on the 'Add material' page. */
#inputDescriptionMaterial {
    width: 230px;
    margin-bottom: 10px;
}

/* Textarea view on the 'Add question' page. */
#Topic {
    width: 250px;
    margin-bottom: 10px;
}

/* 'Choose file' button for material upload. */
.btn-upload {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.nav-drawer {
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: -45px;
    color: inherit;
    background-color: #eee;
    width: 180px;
    height: 100%;
    background: rgb(230, 230, 230);
    border: rgba(205, 205, 205, 0.51) 1px solid;
    padding-top: 10px;
    float: left;
}

.drawer-item-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.drawer-link {
    padding: 3px 20px;
}

    .drawer-link:hover,
    .drawer-link:active {
        background: rgb(157, 182, 215);
        cursor: pointer;
        color: azure;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.js-add-friend-button {
    border: 0;
}

.js-new-msg-button {
    border: 0;
}

.input-file-row-1:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.input-file-row-1 {
    display: inline-block;
    margin-top: 25px;
    position: relative;
}

html[xmlns] .input-file-row-1 {
    display: block;
}

* html .input-file-row-1 {
    height: 1%;
}

.upload-file-container {
    position: relative;
    overflow: hidden;
    float: left;
    margin-left: 23px;
}

    .upload-file-container:first-child {
        margin-left: 0;
    }

    .upload-file-container > img {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

.upload-file-container-text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #000000;
    line-height: 17px;
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 25px;
    margin-left: 14px;
}

    .upload-file-container-text > span {
        border-bottom: 1px solid #719d2b;
        cursor: pointer;
    }

.upload-file-container input {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    margin: 0;
    padding: 0;
    border: none;
    width: 230px;
    height: 250px;
    cursor: pointer;
}

.dialog-container a {
    display: block;
}

    .dialog-container a:hover {
        text-decoration: none; /* Убирает подчеркивание для ссылок */
    }

.dialog-container td:hover {
    background-color: lightskyblue;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    color: azure;
    margin-left: 0;
    margin-right: 0;
}

#form-line {
    width: 10%;
    color: #fff;
    margin: 0 auto;
    max-width: 330px;
    padding: inherit;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Button for file upload. */
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 0;
}

header[role="banner"] .wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

h2, .h2 {
    font-size: 30px;
    margin-left: 5px;
}

#block-search {
    width: 409px;
    height: 33px;
}

#input-search {
    max-width: none;
    height: 33px;
    width: 355px;
    border: 1px solid #D8D8D8;
    padding-left: 5px;
    padding-right: 5px;
}

    #input-search:focus {
        border: 1px solid #75D9FF;
    }

#form-search {
    background: url(/Files/icons/button-search-norm.png) no-repeat;
    width: 54px;
    height: 33px;
    border: none;
    cursor: pointer;
    position: absolute;
}

    #form-search:hover {
        background: url(/Files/icons/button-search-hover.png) no-repeat;
        width: 54px;
        height: 33px;
    }
/* Результат поиска */
#block-search-result {
    border-left: 1px solid #E1DFDD;
    border-right: 1px solid #E1DFDD;
    border-bottom: 1px solid #E1DFDD;
    width: 355px;
    height: auto;
    background-color: white;
    position: absolute;
    z-index: 9999;
    display: none;
}

#list-search-result {
    margin-bottom: 0px;
    padding-left: 0px;
}

    #list-search-result > li {
        min-height: 28px;
        height: auto;
        padding-left: 10px;
    }

        #list-search-result > li:hover {
            background-color: #E1DFDD;
        }

.block-title-price {
    width: 325px;
    text-align: left;
}

    .block-title-price > a {
        font: 15px sans-serif;
        color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        display: block;
    }

        .block-title-price > a:hover {
            text-decoration: none;
        }

    .block-title-price > p {
        font: 15px sans-serif;
        color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        display: block;
    }

.select-default {
    color: #999;
}

.select-elem {
    color: #000000;
}
