body {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(255, 255, 255), #323B55);
}

.login-button {
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    margin-top: 10px;
    background-color: #5cb85c;
    border-color: #4cae4c;
    font-weight: 500;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.login-button:hover,
.login-button:active,
.login-button:focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}


.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}

.nav-drawer {
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: -45px;
    color: inherit;
    background-color: #eee;
    width: 180px;
    height: 100%;
    background: rgb(230, 230, 230);
    border: rgba(205, 205, 205, 0.51) 1px solid;
    padding-top: 10px;
    float: left;
}

.drawer-item-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.drawer-link {
    padding: 3px 20px;
}

.drawer-link:hover,
.drawer-link:active {
    background: rgb(157, 182, 215);
    cursor: pointer;
    color: azure;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.js-add-friend-button {
    border: 0;
}

.js-new-msg-button {
    border: 0;
}

.input-file-row-1:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.input-file-row-1 {
    display: inline-block;
    margin-top: 25px;
    position: relative;
}

html[xmlns] .input-file-row-1 {
    display: block;
}

* html .input-file-row-1 {
    height: 1%;
}

.upload-file-container {
    position: relative;
    overflow: hidden;
    float: left;
    margin-left: 23px;
}

    .upload-file-container:first-child {
        margin-left: 0;
    }

    .upload-file-container > img {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

.upload-file-container-text {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #719d2b;
    line-height: 17px;
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 35px;
}

    .upload-file-container-text > span {
        border-bottom: 1px solid #719d2b;
        cursor: pointer;
    }

.upload-file-container input {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    margin: 0;
    padding: 0;
    border: none;
    width: 230px;
    height: 250px;
    cursor: pointer;
}

.dialog-container a {
    display: block;
}

.dialog-container a:hover {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}

.dialog-container td:hover {
    background-color: lightskyblue;
}
