
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="alert alert-info" style="padding-top: 8px; width: 50%; float: left; margin-left: 10%; margin-top: 5%; ">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            ×
        </button>
        <span class="glyphicon glyphicon-info-sign"></span> <strong>Добро пожаловать, администратор!</strong>
        <hr class="message-inner-separator">
        <p><a href="~/Account/ConfirmRegistration">Подтвердить регистрацию новых пользователей</a></p>
    </div>
</div>