
@{
    ViewBag.Title = "CompletionRegistration";
}

<div class="container">
    <div class="alert alert-success" style="height: 35px; padding-top: 8px; width: 50%; float: left; margin-left: 10%; margin-top: 5%; ">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span class="glyphicon glyphicon-ok"></span>
        Регистрация завершена. Ожидайте подтверждения администратора!
    </div>
</div>