@model University.Models.Dto.DialogDto


<style>
    
    .form-element-textarea {
        width: 100%;
        max-width: 600px;
    }

    div {
        word-wrap:break-word;
    }

</style>


<form method="POST" id="sendMessage" action="/Home/SendMessage">
    <div>
        <input type="text" name="DialogId" value="@Model.Id" class="hide">
        <textarea class="form-element form-element-textarea" name="Text" rows="5" id="Text" placeholder="Введите ваше сообщение"></textarea>
        <br />
        <br />
        <p>
            <button type="submit" class="btn btn-success btn-sm">Отправить</button>
        </p>
    </div>
</form>
