<div class="nav nav-pills nav-stacked" id="said-bar">
    <div class="drawer-link">
        <a href="FindUser/Index" class="drawer-item-icon">
            Поиск людей
        </a>
    </div>
    <div class="drawer-link">
        <a href="Friends/Index" class="drawer-item-icon">
            Мои друзья
        </a>
    </div>
    <div class="drawer-link">
        <a href="Communion/Index" class="drawer-item-icon">
            Сообщения
        </a>
    </div>
</div>

