@using System.Drawing

@Styles.Render("~/Content/css")

<head>
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css">
</head>

<nav class="nav-justified">
    <ul class="nav">
        <li class="active">
            <a href="~/">
                <i class="fa fa-home fa"></i> Моя страница
            </a>
        </li>
        <li>
            <a href="~/Home/FindUsers">
                <i class="fa fa-search fa"></i> Поиск людей
            </a>
        </li>
        <li>
            <a href="~/Home/Friends">
                <i class="fa fa-users fa"></i> Мои друзья
            </a>
        </li>
        <li>
            <a href="~/Communion/Index">
                <i class="fa fa-envelope fa"></i> Мои сообщения
            </a>
        </li>
    </ul>
</nav>