<nav class="nav-sidebar">
    <ul class="nav">
        <li class="active">
            <a href="~/">Home</a>
        </li>
        <li>
            <a href="FindUser/Index">Поиск людей</a>
        </li>
        <li>
            <a href="Friends/Index">Мои друзья</a>
        </li>
        <li>
            <a href="Communion/Index">Мои сообщения</a>
        </li>
        <li class="nav-divider"></li>
        <li>
            <a href="~/">Настройки</a>
        </li>
    </ul>
</nav>