@model University.Models.ApplicationUser

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
    </div>
    <div class="modal-body">
        <textarea class="form-element form-element-textarea" id="messageInput" oninput="LockedButton('messageInput', 'buttonSendMessage')" name="Text" rows="5" placeholder="Напишите сообщение..."></textarea>
        <br />
        <br />
        <p>
            <button type="submit" class="btn btn-success btn-sm" onclick="SendMessage('@Model')" id="buttonSendMessage" disabled>Отправить</button>
        </p>
    </div>
</div>
